* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px; 
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/* Intro animation */
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top:  40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.logo {
    position:relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0 ;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
     
}

.contact-section{
    background-color: white;
    background-size: cover;
    padding: 40px 0;
  }
  .contact-section h1{
    text-align: center;
    color: #34495e;
  }
  .border{
    width: 40%;
    height: 10px;
    background: #34495e;
    margin: 10px auto;
    border-radius: 10px;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    width: 100%;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  input, textarea {
    border-radius: 10px;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }

